services:
  - type: web
    name: netfyber
    env: python
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      gunicorn app:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: netfyber-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: ADMIN_PASSWORD
        sync: false