services:
  - type: web
    name: netfyber
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: netfyber_db
          property: connectionString
      - key: ADMIN_URL_PREFIX
        value: /gestao-exclusiva-netfyber
      - key: ADMIN_IPS
        value: 186.193.177.16,127.0.0.1,::1,0.0.0.0
      - key: ADMIN_USERNAME
        value: netfyber_admin_secure
      - key: ADMIN_PASSWORD
        value: Ny7@F8b#2qP9!vM0xW3c$K5
      - key: ADMIN_EMAIL
        value: admin-secure@netfyber.com
      - key: SERVER_HOST
        value: 0.0.0.0

databases:
  - name: netfyber_db
    plan: starter
    databaseName: netfyber
    user: netfyber_user