services:
  - type: web
    name: netfyber-telecom
    env: python
    region: ohio
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: ADMIN_EMAIL
        value: admin@netfyber.com
      - key: ADMIN_URL_PREFIX
        value: /gestao-exclusiva-netfyber
      # Cloudflare R2 - PRODUÇÃO
      - key: R2_ENABLED
        value: true
      - key: R2_ENDPOINT_URL
        value: https://3825287deb577b1c158b966f5c441e57.r2.cloudflarestorage.com
      - key: R2_PUBLIC_URL
        value: https://pub-3825287deb577b1c158b966f5c441e57.r2.dev
      - key: R2_ACCESS_KEY_ID
        sync: false
      - key: R2_SECRET_ACCESS_KEY
        sync: false
      - key: R2_BUCKET
        value: netfyber-files